{% extends "inicio/encabezado.html" %}
{%block titulo%} contacto {%endblock%}


	<!-- Contenido de la imagen-->
	{%block imagen%}
		{%load static%}
		{% static 'inicio/images/contacto2.png' %}
	{% endblock%}
{%block descripcion_modulo%}
            contacto
			{%endblock%}

	{%block principaluno%}

		<!-- Contenido Principal-->
	 	<div class="page-content">


			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>contacto
				    <small>Ingresa tus dudas</small></h3>
				</div>

				
				</div>
			</div>
			{%endblock%}

			<!-- /Encabezado-->

			<!-- Formulario -->

			{% block contenido%}

			<form class="form-horizontal" action="#" role="form">
	            <div class="panel panel-default">
	                <div class="panel-body">

				       
				        
				        <div class="form-group">
				            <label class="col-sm-2 control-label text-right">Nombre:</label>
				            <div class="col-sm-10">
				            	<input type="text" class="form-control">
				            </div>
				        </div>
                            <div class="form-group">
				            <label class="col-sm-2 control-label text-right">mensaje:</label>
				            <div class="col-sm-10">
					<textarea cols="149" rows="20"></textarea>
				            </div>
				        </div>
				        
                        <div class="form-actions text-right">
                        	<input type="submit" value="Enviar" class="btn btn-primary">
                        </div>

				    </div>
				</div>
			</form>
		<!-- Fin del Formulario -->
		</div>
		<!-- /Contenido Principal-->

     <p><input type="Button" name="enviar" value="Enviar"></p>
{%endblock%}