{% extends "inicio/encabezado.html" %}

{% block titulo%} PRINCIPAL {%endblock%}
{%block imagen%}
	{%load static%}
	{% static 'inicio/images/home.png' %}
	
{% endblock%}


{%block principaluno%}<!-- Contenido Principal-->
	 	<div class="page-content">


			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Alumnos
				    <small>Lista de Alumnos </small></h3>
				<table class="table table-bordered table-striped">

<thead>
<tr>

<th>Foto</th>
<th>Matricula</th>
<th>Nombre</th>
<th>Carrera</th>
<th>Turno</th>

</tr>

</thead>
<tbody>
{% for alumno in alumnos %}

<tr>

<td class="text-center">

</td>
<td class="text-semibold">{{alumno.matricula}}</td>
<td class="muted">{{alumno.nombre}}</td>
<td class="muted">{{alumno.carrera}}</td>
<td class="muted">{{alumno.turno}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<!-- /Tabla de alumnos -->
				</div>
	

				
			</div>
			<!-- /Encabezado-->


		</div>
{% endblock %}